<h5 class="mb-4 ms-2">
  Listado de Usuarios
</h5>

<div class="bg-custom d-flex align-items-center">
  <button class="btn p-0 border-0 bg-transparent btn-mas">
    <i class="bi bi-person-plus-fill text-white fs-4"></i>
  </button>
  <div class="input-group input-group-sm ms-auto input-container">
    <input type="text"
          class="form-control border-end-0 input-busqueda"
          style="border-top-left-radius: 2rem; border-bottom-left-radius: 2rem;"
          placeholder="Ingrese un usuario"
          name="filtro">

    <span class="input-group-text bg-white border-start-0 me-2"
          style="border-top-right-radius: 2rem; border-bottom-right-radius: 2rem;">
      <i class="bi bi-search"></i>
    </span>
  </div>
</div>

<table class="table table-borderless text-center mt-5" style="color: #8a8a8a;">
  <thead class="table">
    <tr>
      <th>#</th>
      <th>Empleado</th>
      <th>Usuario</th>
      <th>Rol</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="fila-alta">
      <td>1</td>
      <td>María López Rodriguez</td>
      <td>mlopez</td>
      <td>Administrador</td>
      <td>Activo</td>
      <td>
        <button class="btn btn-sm btn-warning rounded-4 me-2"><i class="bi bi-pencil"></i></button>
        <button class="btn btn-sm bg-custom5 rounded-4 me-2"><i class="bi bi-check2"></i></button>
        <button class="btn btn-sm btn-secondary rounded-4"><i class="bi bi-key-fill"></i></button>
      </td>
    </tr>
    <tr class="fila-alta">
      <td>2</td>
      <td>Juan Pérez Alvarez</td>
      <td>jperez</td>
      <td>Empleado</td>
      <td>Inactivo</td>
      <td>
        <button class="btn btn-sm btn-warning rounded-4 me-2"><i class="bi bi-pencil"></i></button>
        <button class="btn btn-sm btn-danger rounded-4 me-2"><i class="bi bi-x-lg"></i></button>
        <button class="btn btn-sm btn-secondary rounded-4"><i class="bi bi-key-fill"></i></button>
      </td>
    </tr>
    <tr class="fila-alta">
      <td>3</td>
      <td>Lucía Martínez Fernandez</td>
      <td>lmartinez</td>
      <td>Empleado</td>
      <td>Activo</td>
      <td>
        <button class="btn btn-sm btn-warning rounded-4 me-2"><i class="bi bi-pencil"></i></button>
        <button class="btn btn-sm bg-custom5 rounded-4 me-2"><i class="bi bi-check2"></i></button>
        <button class="btn btn-sm btn-secondary rounded-4"><i class="bi bi-key-fill"></i></button>
      </td>
    </tr>
    <tr class="fila-alta">
      <td>4</td>
      <td>Andrés Salas Martin</td>
      <td>asalas</td>
      <td>Empleado</td>
      <td>Activo</td>
      <td>
        <button class="btn btn-sm btn-warning rounded-4 me-2"><i class="bi bi-pencil"></i></button>
        <button class="btn btn-sm bg-custom5 rounded-4 me-2"><i class="bi bi-check2"></i></button>
        <button class="btn btn-sm btn-secondary rounded-4"><i class="bi bi-key-fill"></i></button>
      </td>
    </tr>
  </tbody>
</table>

