<h5 class="mb-4 ms-2">
    Mi perfil
</h5>
<h6 class="mb-4 ms-2 text-danger" style="font-size: 13px;">
    *Esta información es importante para el sistema.
</h6>
<form>
    <h5 class="mb-4 ms-2">Foto <i class="bi bi-image ms-2"></i></h5>

    <div [ngClass]="{ 'bg-custom2': !fotoBase64 }" class="bg-custom2 rounded-4 text-center ms-5" style="width: 15rem; padding: 3rem;">
        <div>
            <img *ngIf="fotoBase64" [src]="fotoBase64" class="rounded-3" width="130" height="180">

            <div *ngIf="!fotoBase64" class="text-muted mb-2" style="font-size: 12px;">
                Sin foto
            </div>
        </div>

        <div *ngIf="!fotoBase64">
            <label for="archivo" class="btn bg-custom text-white mb-3" style="font-size: 10px;">Elegir archivo</label>
            <input type="file" id="archivo" (change)="onFileSelected($event)" style="display: none;">
            <div class="text-center" style="font-size: 10px;">
                {{ nombreArchivo || 'Ningún archivo seleccionado' }}
            </div>
        </div>
    </div>


    <div class="mt-5" style="max-width: 350px;">
        <div class="d-flex align-items-center mb-3">
            <label style="width: 150px;" class="me-5">Nombre usuario:</label>
            <input type="text" [value]="usuarioLogueado?.nombre_usuario" disabled>
        </div>
        <div class="d-flex align-items-center mb-3">
            <label style="width: 150px;" class="me-5">Contraseña:</label>
            <input type="password" [value]="usuarioLogueado?.password" disabled>
        </div>
        <div class="d-flex align-items-center mb-3">
            <label style="width: 150px;" class="me-5">Nombres:</label>
            <input type="text" [value]="empleadoLogueado?.nombre" disabled>
        </div>
        <div class="d-flex align-items-center mb-3">
            <label style="width: 150px;" class="me-5">Apellido Paterno:</label>
            <input type="text" [value]="empleadoLogueado?.ape_p" disabled>
        </div>
        <div class="d-flex align-items-center mb-3">
            <label style="width: 180px;" class="me-4">Apellido Materno:</label>
            <input type="text" [value]="empleadoLogueado?.ape_m" disabled>
        </div>
        <div class="d-flex align-items-center mb-2">
            <label style="width: 180px;" class="me-4">Correo Electrónico:</label>
            <input type="email" [value]="empleadoLogueado?.correo" disabled>
        </div>
    </div>

    <button type="button" class="mt-4 bg-custom3 text-white rounded-5 px-3 py-2 border-0">
        <i class="bi bi-pencil-fill me-2"></i>
        Editar Perfil
    </button>
</form>