<h5 class="mb-4 ms-2">
    Informe General de Asistencias
</h5>

<div class="bg-custom d-flex align-items-center">
    <select class="form-select border-end-0 ms-2" style="border-radius: 2rem; max-width: 150px; font-size: 13px;"
        [(ngModel)]="tipoSeleccionado" (change)="cargarAsistencias()">
        <option value="Entrada">Entrada</option>
        <option value="Salida">Salida</option>
        <option value="Completas">Completas</option>
    </select>

    <div class="input-group input-group-sm ms-auto input-container">
        <input type="text" class="form-control border-end-0 input-busqueda"
            style="border-top-left-radius: 2rem; border-bottom-left-radius: 2rem;" placeholder="Buscar por nombre..."
            [(ngModel)]="nombreEmpleadoFiltro" (input)="cargarAsistencias()" />

        <span class="input-group-text bg-white border-start-0 me-2"
            style="border-top-right-radius: 2rem; border-bottom-right-radius: 2rem;">
            <i class="bi bi-search"></i>
        </span>
    </div>


</div>

<table class="table table-borderless text-center mt-5" style="color: #8a8a8a;">
    <thead class="table">
        <tr>
            <th>#</th>
            <th>Empleado</th>
            <th>Marcación</th>
            <th>Tipo</th>
            <th>Foto</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let asistencia of asistenciasFiltradas; let i = index" class="fila-alta">
            <td>{{ i + 1 }}</td>
            <td>{{ getNombreEmpleado(asistencia.id_empleado) }}</td>
            <td>{{ asistencia.marcacion }}</td>
            <td>{{ asistencia.tipo }}</td>
            <td>
                <img [src]="asistencia.foto.startsWith('data:image') ? asistencia.foto : 'assets/icons/' + asistencia.foto"
                    alt="Foto" width="60" height="70" />
            </td>
            <td>
                <span class="badge p-2 rounded-5" [ngClass]="{
            'bg-custom2': asistencia.estado === 'Registrado',
            'bg-custom3': asistencia.estado === 'Tarde',
            'bg-custom4': asistencia.estado === 'Justificacion'
          }">
                    {{ asistencia.estado }}
                </span>
            </td>
        </tr>
        <!-- ✅ Mensaje cuando no hay resultados -->
        <tr *ngIf="asistenciasFiltradas.length === 0">
            <td colspan="6" class="text-center text-muted">
                No se encontraron asistencias para el nombre ingresado.
            </td>
        </tr>
    </tbody>
</table>